
#images
*.png
*.jpg
*.jpeg

# Compiled object files
*.o
*.obj

# Compiled dynamic libraries
*.so
*.dylib
*.dll

# Compiled static libraries
*.lib
*.a

# Executable files
*.exe
*.out
*.app

# CMake build directories
/build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# GLSL shader cache or compiled files
*.spv
*.glslbin

# Logs and temporary files
*.log
*.tmp

# IDE specific files
.vscode/
.idea/
*.code-workspace

# System files
.DS_Store
Thumbs.db