Objects/LightBox4.txt filter=lfs diff=lfs merge=lfs -text
Objects/Sponza.off filter=lfs diff=lfs merge=lfs -text
Objects/Teapot.txt filter=lfs diff=lfs merge=lfs -text
Objects/Dragon.off filter=lfs diff=lfs merge=lfs -text
Objects/DragonGlass.off filter=lfs diff=lfs merge=lfs -text
Objects/LightBox.txt filter=lfs diff=lfs merge=lfs -text
Objects/LightBox2.txt filter=lfs diff=lfs merge=lfs -text
Objects/LightBox3.txt filter=lfs diff=lfs merge=lfs -text
